<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/form.css" />
	<title>UPS Mock-up Site | Review Your Order</title>
</head>
    <body>
        <h1>Review Your Order!</h1>
		<p>
			<div id='details'>
				Weight: 
				<%= weight %><br/>
				Mail Type: 
				<%= mailType %><br/>
			</div>
			<div id='price'>
				Price: $
				<%= price %><br/>
			</div>
		</p>
    </body>
</html>